

#total {
    background: linear-gradient(to right, #6305dd, #390281);
    padding: 2rem;
    border-radius: 12px;
    width: auto;
    margin: 2rem;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  }

#total h1{
    flex-grow: 1;
    text-align: center;
    color: white;
    font-size: 60px;
}

#total img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 12px;
    background-color: #ffe1bf;
    transform: rotateZ(+5deg);
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
}

  #total div{
    display:flex; 
    justify-content: space-between;
    align-items: center;
  }

#total p{
    text-align: right;
    color: white;
    white-space: pre;
    margin-bottom: 0;
}

  #text {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: auto;
    margin: 2rem 2rem 2rem 2rem;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  }


  .tag{
    background-color: white;
    color: #390281;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 0.5rem;
  }

  .add {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .add a {
    margin: auto;
    height: auto;
    width: 10rem;
    margin-bottom: 2rem;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
  }
  
  .add a:hover,
  .add a:active {
    transform: scale(1.1);
    background-color: #390281;
    color: white;
  }
  
  .add h3 {
    margin: 0.25rem 0;
  }
  
  .add:hover time,
  .add:active time {
    color: white;
  }

