{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">
{% endblock css_files %}

{% block content %}

<section id = "total">
    <div>
        <h1>{{post.title}}</h1>
        <img src="{{post.image.url}}" alt={{post.title}} /> 
    </div>
    <p>
        <i>Post by <a href="mailto:{{post.author.email}}">{{post.author}}</a></i>
        Last updated on <time>{{post.data}}</time> 
    </p>
    <section>
        {% for tag in post_tags %}
            <span class = "tag"> {{tag.caption}} </span>
        {% endfor %}
    </section>     
</section>

<section id = "text">
    <p>
        {{post.content | linebreaks}}
    </p>
    
</section>

{% if comments %}
<section id = "text">
    <h1 id = "comment">Comments</h1>
    {% for comment in comments %}
    <h3>{{comment.user_name}}</h3>
    <section id = "text">{{comment.text}}</section>
    {% endfor %}
</section> 
{% endif %}

<section>
    <article class="add">
        {% if start %}
        <a href="{% url 'post-detail-page' next_post %}">
            <h3>Next post</h3>
        </a>
        {% elif finish %}
        <a href="{% url 'post-detail-page' previous_post %}">
            <h3>Previous post</h3>
        </a>
        {% else %}
        <a href="{% url 'post-detail-page' previous_post %}">
            <h3>Previous post</h3>
        </a>
        <a href="{% url 'post-detail-page' next_post %}">
            <h3>Next post</h3>
        </a>
        {% endif %}
    </article>  
        
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="form-control {% if field.errors %}error{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit">Add comment!</button>
    </form> 
</section> 

    
{% endblock content %}