{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{post.title}}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">
{% endblock css_files %}

{% block content %}

<section id = "total">
    <div>
        <h1>{{post.title}}</h1>
        <img src="/{{post.image}}" alt={{post.title}} /> 
    </div>
    <p>
        <i>Post by <a href="mailto:{{post.author.email}}">{{post.author}}</a></i>
        Last updated on <time>{{post.data}}</time> 
    </p>
    <section>
        {% for tag in post_tags %}
            <span class = "tag"> {{tag.caption}} </span>
        {% endfor %}
    </section>     
</section>

<section id = "text">
    <p>
        {{post.content | linebreaks}}
    </p>
    
</section>

<section>
    <form>
        <article class="add">
            <a>
                <h3>Read another</h3>
            </a>
            <a>
                <h3>Add comment</h3>
            </a>
        </article>  
        
    </form>
    
</section>

    
{% endblock content %}